RAPID_API_KEY=b5fa9474acmshb1e756dd3334ed3p1a73a1jsn637cd3197e46
TWILIO_ACCOUNT_SID=AC088fa7ff1d3fded6bf7c38c9e09c40dc
TWILIO_AUTH_TOKEN=ba0b3393fce76a57199ae0511d94e0c8
TWILIO_FROM_NUMBER=+13853962693
RESEND_API_KEY=
RESEND_FROM_EMAIL=
VITE_OTP_KEY=
SIMBOSS_API_KEY=
SIMBOSS_SENDER_ID=
BANK_DATA_API_KEY=
